<!DOCTYPE html>
<html>
	<head>
		<title>404</title>
		<% include includes/head.ejs %>
		<style type="text/css">
			body {
			  background-size: cover;
			  font-family: 'Raleway', sans-serif;

			  height: 100%;
			}
		</style>
	</head>
	<body>
		<% include includes/header.ejs %>
	 	<div class="container">
	 		<div class="text-wrapper">
		    <div class="title">
		      404
		    </div>

		    <div class="subtitle">
		      Oops, la página que está buscando no existe
		    </div>

		    <div class="buttons">
		      <a class="button" href="/">Ir a la página de inicio</a>
		    </div>
			</div>
	 	</div>
	</body>
</html>
