<!DOCTYPE html>
<html>
	<head>
		<title>404</title>
		<% include includes/head.ejs %>
	</head>
	<body>
		<% include includes/header.ejs %>
	 	<div class="container">

			<h1>  Cuenta suspendida </h1>
	    <div class="buttons">
	      <a class="button" href="/">Ir a la página de inicio</a>
	    </div>

	 	</div>
	</body>
</html>
