<footer class="footer">
  <div class="container">
    <strong>2018-2019 © </strong>
    <span class="text-muted">SimpleKB.io - All Rights Reserved.</span>
  </div>
</footer>

<% include scripts.ejs %>
